{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<h4>{{#str}} rules, block_scheduledcontent {{/str}}</h4>

<p>{{#str}} rules:description, block_scheduledcontent {{/str}}</p>
<p>{{#str}} rules:removenotice, block_scheduledcontent {{/str}}</p>
<form method="POST" action="" enctype="multipart/form-data">

{{#rules}}
<table width="100%" class="generaltable" style="border-bottom: 2px solid darkgray;">
    <tr>
        <th colspan="2">
            <input type="number" min="1" max="99" name="sort[{{id}}]" value="{{sort}}" class="btn-block" placeholder="{{#str}} sort {{/str}}" />
        </th>
    </tr>
    <tr>
        <th valign="top" width="50%">
            <input type="text" name="patternscriptnames[{{id}}]" value="{{patternscriptnames}}"
                placeholder="{{#str}} rules:patternscriptnames, local_experience {{/str}}" class="btn-block" />
        </th>
        <th valign="top" width="50%">
            <input type="text" name="patternparameters[{{id}}]" value="{{patternparameters}}"
                placeholder="{{#str}} rules:patternparameters, local_experience {{/str}}" class="btn-block" />
        </th>
    </tr>
    <tr>
        <td valign="top">
            {{#str}} rules:elementstohide, local_experience {{/str}}
            <textarea name="elementstohide[{{id}}]" class="btn-block">{{elementstohide}}</textarea>
        </td>
        <td valign="top">
            {{#str}} rules:elementstoset, local_experience {{/str}}
            <textarea name="elementstoset[{{id}}]" class="btn-block">{{elementstoset}}</textarea>
        </td>
    </tr>
</table>
{{/rules}}
<table width="100%" class="generaltable">
    <tr>
        <td><input type="submit" name="addrule" value="{{#str}} rules:add, local_experience {{/str}}" class="btn btn-block btn-secondary" /></td>
        <td><input type="submit" name="store" value="{{#str}} submit {{/str}}" class="btn btn-block btn-primary" /></td>
    </tr>
</table>
</form>
